.about {
    grid-column: center-start / center-end;

    & blockquote {
        position: relative;
        margin-top: 8rem;
        font-size: 2rem;
    }

    & blockquote:before {
        content: "\201C";
        font-size: 500%;
        display: block;
        position: absolute;
        top: -6rem;
        left: -1.6rem;
    }
}

.about-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 4rem;

    @media only screen and (max-width: $bp-medium-small) {
        grid-template-columns: 1fr;
    }


    &--me {
    
        @media only screen and (max-width: $bp-medium-small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        @media only screen and (max-width: $bp-small) {
            margin-bottom: 3rem;        
        }
    }

    &--history {

        @media only screen and (max-width: $bp-medium-small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            
    }

    &__img {
        max-width: 15rem;
	    max-height: 15rem;;
        float: left;
        margin-top: 4rem;
        margin-right: 1.5rem;
        border-radius: 50%; 
        shape-outside: circle();
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        
        @media only screen and (max-width: $bp-small) {
            margin-bottom: 2rem;
        }
    }
}

.diploma {
    grid-column: center-start / center-end;
    margin-left: auto;
    margin-right: auto;

    &__img {
        max-width: 40rem;
    }
}