.about {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));
    grid-gap: 6rem;

    @media only screen and (max-width: $bp-smallest) {
        display: flex;
        flex-direction: column;
    }

    &--me {
        grid-column: 1 span 1;
    
        @media only screen and (max-width: $bp-small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        @media only screen and (max-width: $bp-small) {
            margin-bottom: 3rem;        
        }
    }

    &--history {
        grid-column: 2 span 1;

        @media only screen and (max-width: $bp-small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            
    }

    &__img {
        width: 20rem;
	    height: 20rem;;
	    float: left;
        margin-right: 1rem;
        border-radius: 50%; 
        shape-outside: circle();
        
        @media only screen and (max-width: $bp-small) {
            width: 15rem;
            height: 15rem;
            margin-bottom: 2rem;
        }
    }
}