@import "mixins";

// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: #000;
$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$default-font-size: 1.6rem;

*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   // 10/16px = 62.5% -> 1rem = 10px
}

body {
    width: 100%;
    //font-family: $font-primary;
    //color: $color-grey-dark-2;
    //font-weight: 300;
    //line-height: 1.6;
    //background-color: #F5F5F5;

    font-family: Montserrat,sans-serif;
    //font-weight: 300;
    //font-size: 1.125em;
    //line-height: 1.55;
}

header {
    margin-bottom: 5rem;
}

section, footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: [full-start]  minmax(6rem, 1fr) [center-start] 
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.spacing {
    grid-column: 5 / 7;
    display: block;
    height: 1rem;
    background: linear-gradient(to right,
    #00b300 0%, #00b300 33.33%,
    #FFFF 33.33%, #FFFF 66.66%,
    #ff0000 66.66%, #ff0000 99.99%);
}
