.contactme {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    padding: 4rem;
    margin-top: 7rem;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        //text-align: center
    }
}

.contact {
    text-align: center;
}

.form__input {
        width: 90%;
        margin-bottom: 1.2rem;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: "Montserrat",sans-serif;
        resize: none;

        @media only screen and (max-width: $bp-small) {
            //text-align: center;
        }
    }

.form__textarea {
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
    }
} 

.works {
    display: flex;
    flex-direction:  column;
    justify-content: space-around;
    color: white;

    @media only screen and (max-width: $bp-small) {
        justify-content: space-between;
    }

    font-size: 1.7rem;

    & li {
        padding: 2rem;
        margin-bottom: 2rem;
        list-style: none;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 1rem;
        }
    }
}