@import "mixins";

.header {
    grid-column: full-start / full-end;
    background: rgba(black, 0.3);
    position: relative;
    margin-bottom: 11.3rem;
    height: 100vh;

    @media only screen and (max-width: $bp-medium-small) {
        height: 80vh;
        background: url(../img/pizza.jpg);
        background-size: cover;
    }
}

.navigation {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 100px 60px -25px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color-secondary;
    padding: 2rem;
  }

.header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &--main {
        display: block;
        font-size: 7rem;
        font-weight: 600;
        letter-spacing: 1.5rem;
        margin-bottom: 2rem;
    }

    &--sub {
        font-size: 2.5rem;
        font-weight: 300;
    }
}

.logo {
    max-width: 15rem;
    background: white;
    padding: 1rem;
    margin-left: 4rem;
    margin-right: auto;

    @media only screen and (max-width: $bp-medium-small) {
        max-width: 10rem;
    }
}

.logosticky {
    max-width: 10rem;
    padding: .5rem;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .9;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}