@import "mixins";

.header {
    grid-column: full-start / full-end;
    background: rgba(black, .3);
    position: relative;
    margin-bottom: 11.8rem;
    height: 100vh;
    box-shadow: 0 2rem 3rem rgba($color-black,.2);


    @media only screen and (max-width: $bp-medium-small) {
        height: 85vh;
        background-image: linear-gradient(
        to right bottom,
        rgba(black, .3),
        rgba(black, .3)),
        url(../img/pizza.jpg);
        background-size: cover;
        margin-bottom: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
        height: 70vh;      
    }

    @media only screen and (max-width: $bp-smallest) {
        height: 60vh; 
    }

    @media only screen and (max-width: $bp-super-small) {
        height: 50vh; 
    }

    @media all and (orientation: landscape) {
        height: auto;
    }
}

.navigation {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    z-index: 100;

    @media only screen and (max-width: $bp-medium-small) {
        align-items: flex-start;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;    
    padding: 2rem;
  }

.header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: rgba(white, .9);
    backface-visibility: hidden;
    margin-bottom: 4rem;


    &--main {
        display: block;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-super-small) {
            font-size: 5rem; 
        }
    }

    &--sub {
        font-size: 2.5rem;
        font-weight: 400;
    }
}

// .logo {
//     max-width: 10rem;
//     background: white;
//     padding: 1rem;
//     margin-left: 4rem;
//     visibility: hidden;

//     @media only screen and (max-width: $bp-medium-small) {
//         margin-left: 2rem;
//     }
// }

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .9;
    overflow: hidden;

    background-image: linear-gradient(
        to right bottom,
        rgba(black, .2),
        rgba(black, .2)),
        url(../img/pizza.jpg);
        background-size: cover;

    @media only screen and (max-width: $bp-medium-small) {
        visibility: hidden;
    }

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}