.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Montserrat,sans-serif;

    @media only screen and (max-width: $bp-medium-small) {
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        align-self: center;
      
        top: 9.1rem;
        left: 0;
        width: 30rem;
        background-color: #101d2c;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;   
        
        & li {
            padding: 3rem;
        }
    }

    &__item--white {
        font-size: 2rem; 
        text-decoration: none;
        color: white;
        margin-right: 1rem;
        padding: 1rem;
    }

    &__item--white:hover {
        background: rgba(white, 0.6);
        border-radius: 8px;
    }

    &__item--black {
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        padding: 2rem;
    }

    &__item--black:hover {
        opacity: .5;
    }

    
}

.social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &__item--white {
        text-decoration: none;
        color: white;
        margin-right: 1rem;
        padding: 1rem;
    }

    &__item--white:hover {
        opacity: 0.7;
    }

    &__item--black {
        text-decoration: none;
        color: black;
        padding: 1rem;
    }

    &__item--black:hover {
        opacity: 0.7;
    }
}

.hamburger__icon {
    color: white;
    display: none;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-medium-small) {
        display: inline-block;
    }
}

.languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Montserrat,sans-serif;

    & li {
        cursor: pointer;
        font-size: 1.7rem;
        margin-left: 2rem;
    }

    & a {
        color: white;
        text-decoration: none;
    }
}