.navigation__list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Montserrat,sans-serif;
    visibility: visible;

    @media only screen and (max-width: $bp-medium-small) {
        position: absolute;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 3rem;
        border-radius: 8px;
        top: 11rem;
        right: 0; 
        visibility: hidden;
        
        & li {
            margin-bottom: 3rem;
        }
    }

    &__item--white {
        font-size: 2rem; 
        text-decoration: none;
        color: white;
        margin-right: 1rem;
        padding: 1rem;
    }

    &__item--white:hover {
        background: rgba(white, 0.6);
        border-radius: 8px;
    }

    &__item--black {
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        padding: 2rem;
    }

    &__item--black:hover {
        opacity: .5;
    }

    
}

.social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @media only screen and (max-width: $bp-medium-small) {
        position: absolute;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 2rem;
        border-radius: 8px;
        top: 39rem;
        right: 0; 
        visibility: hidden;
    }

    &__item--white {
        text-decoration: none;
        color: white;
        padding: 1rem;
    }

    &__item--white:hover {
        opacity: 0.7;
    }

    &__item--black {
        text-decoration: none;
        color: black;
        padding: 1rem;
    }

    &__item--black:hover {
        opacity: 0.7;
    }
}

.hamburger__icon {
    color: white;
    display: none;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-medium-small) {
        display: inline-block;
    }
}