.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Montserrat,sans-serif;

    @media only screen and (max-width: $bp-medium-small) {
        display:none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        align-self: center;
        border-radius: 8px;
        display: none;    
        
        & li {
            padding: 1rem;
            margin-bottom: 3rem;
        }
    }

    &__item--white {
        font-size: 2rem; 
        text-decoration: none;
        color: white;
        margin-right: 1rem;
        padding: 1rem;
    }

    &__item--white:hover {
        background: rgba(white, 0.6);
        border-radius: 8px;
    }

    &__item--black {
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        padding: 2rem;
    }

    &__item--black:hover {
        opacity: .5;
    }

    
}

.social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @media only screen and (max-width: $bp-medium-small) {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        align-items: center;
        list-style: none;
        border-radius: 8px;
        display: none;
    
        & li {
            padding: 1rem;
            margin-bottom: 3rem;
        }
    }

    &__item--white {
        text-decoration: none;
        color: white;
        padding: 1rem;
    }

    &__item--white:hover {
        opacity: 0.7;
    }

    &__item--black {
        text-decoration: none;
        color: black;
        padding: 1rem;
    }

    &__item--black:hover {
        opacity: 0.7;
    }
}

.hamburger__icon {
    color: white;
    display: none;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-medium-small) {
        display: inline-block;
    }
}