#map-plug {display:none;}

.reviews {
     grid-column: center-start / center-end;
     background-size: cover;
     background-position: center;


     &__button {
        grid-column: center-start / center-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: rgba(gray, 0.1);
        padding: 2rem;

        & a {
            @media only screen and (max-width: $bp-small) {
               margin-bottom: 3rem;
            }
        }
     }
}

#google-reviews {
    display: flex;

    grid-column: full-start / center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 2rem;
    font-family: "Montserrat",sans-serif;
    background: rgba(gray, 0.1);

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }
}

.review-item {
flex: 1 1 20%;
font-size: 1.65rem
}

.reviewer-image {
    width: 8rem;
    margin: .6rem;
    margin-right: 2rem;
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.review-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    margin-bottom: 1rem;
    font-size: 2.2rem;
} 

.review-stars {text-align:center; margin-bottom: 2rem;}
//.review-author { text-transform: capitalize; font-weight:bold; font-size: 2.5rem;}
.review-date {display:block;}

.review-text { 
     line-height:1.55; 
     text-align:left; 
     max-width:32em; 
     font-size: 2rem;
     color: #777;
     margin:auto;
    }

 

.review-stars ul {
display: inline-block;
list-style: none;
margin:0; padding:0;
}

.review-stars ul li {
float: left;
list-style: none !important;
margin-right: 1px;
font-size: 1.4rem;
line-height:1;
}

.review-stars ul li i {
  color: #E4B248;
  font-size: 1.4em;
  font-style:normal;
}
.review-stars ul li i.inactive { color: #c6c6c6;}
.star:after { content: "\2605"; }