.services {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));
    grid-gap: 6rem;
    font-family: "Montserrat",sans-serif;
    //padding-top: 11.8rem;

    @media only screen and (max-width: $bp-smallest) {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        
    }

    

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 3rem;
        }
    }

    &__img {
        z-index: 1;
    }

    &__name {
        z-index: 3;
        font-size: 3rem;
        text-align: center;
        padding: 1.25rem;
        background-color: red;
        color: #fff;
        font-weight: 400;
        transform: translateY(-50%);
        border-radius: 10px;
        margin-bottom: -2.5rem;
    }

}