.services {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-gap: 6rem;
    font-family: "Montserrat",sans-serif;

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 3rem;
        }
    }

    &__img {
        z-index: 1; 
        filter: brightness(90%);
    }

    &__name {
        z-index: 3;
        font-size: 2.5rem;
        text-align: center;
        padding: 1.25rem;
        background-color: red;
        color: #fff;
        font-weight: 400;
        transform: translateY(-50%);
        border-radius: 10px;
        margin-bottom: -2.5rem;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &__diploma {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }

}