.heading--tertiary {
    font-family: "Montserrat",sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #777;
    text-align: center;
    margin-bottom: 2rem;
}

.paragraph {
    font-family: Montserrat,sans-serif;
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 2;
    color: black;
    margin-top: 2rem;

    @media only screen and (max-width: $bp-medium-small) {
        font-size: 2rem;
    }
}

.read_more{
    text-decoration: none;
    color: #777;
    padding: .1rem;
    font-weight: 600;
}